{% extends "index.html" %}

{% block title %}
    viewEvents
{% endblock %}

{% block content %}
<div class="view-events-div">
    <table border="2">
        <thead>
            <tr>
                <td>event_id</td>
                <td>event_name</td>
                <td>event_type</td>
                <td>event_desc</td>
                <td>org_email</td>
                <td>org_num</td>
                <td>max_seats</td>
            </tr>
        </thead>
        <tbody>
            {% for user in output %}
                <tr>
                    {% for col in user %}
                        <td>{{col}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}